<table class="affirmtable" width="%100">
  <tbody>
    <tr>
      <td class="1sttd"></td>
      <td class="2ndtd">
<a style="margin-left: auto; margin-right: auto; display:block;" class="affirm-site-modal" data-page-type="banner"><img src="https://cdn-assets.affirm.com/images/banners/300x50.png"></a>
      </td>
      <td class="3rdtd"></td>
    </tr>
  </tbody>
</table>