<section class="footer__module" {{ block.shopify_attributes }}>
  <h3 class="footer__title">{{ block.settings.custom_content_heading }}</h3>
  <p class="footer__about-text">{{ block.settings.custom_content_text }}</p>
</section>