{% include 'elspw_cart' %}
{% include 'bold-cart' %}

{% capture push_header %}
  <div class="header__push">
    <div class="container">
      <div class="inner">
        {% include 'breadcrumb' %}

        <div class="header__push-content">
          <h1 class="header__push-title">{{ 'cart.general.title' | t }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% section 'cart' %}

